HELP.md
.gradle
!gradle/wrapper/gradle-wrapper.jar
build/
!build/
!build/docs/
!build/docs/javadoc/
!build/docs/javadoc/**

!**/src/main/**/build/
!**/src/test/**/build/

backend/build/resolvedMainClassName
backend/build/tmp/previous-compilation-data.bin

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

*.mv.db
*.trace.db
*.lock.db

*.log
logs/

.env
.env.local
.env.*.local

application-local.properties
application-secret.properties
